* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

:root {
  --brand-red: #ed2e5c;
  --brand-red-light: #fa8ba5;
  --brand-red-lighter: #fff8f8;

  --menu-expanded-background: #ffe1e8;

  --gray-paragraph: #777777;

  --nav-height: 7.6rem;

  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body.dark-mode {
  background-color: #1b1b1b;
  transition: 0.3s;
}

body.dark-mode p {
  color: white;
}

body.dark-mode header {
  background-color: #1b1b1b;
}

/* Dispositivos grandes (laptops/desktops, 992px e superior) */
@media only screen and (min-width: 992px) {
  .wrapper {
    max-width: 112rem;
    margin: auto;
  }

  p {
    font-size: 1.8rem;
    color: var(--gray-paragraph);
  }

  body {
    transition: 0.3s;
  }


  h1 {
    font-size: 3.6rem;
    color: var(--brand-red);
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--brand-red);
  }

  header nav,
  header ul,
  header a {
    display: flex;
    flex-direction: row;

    text-decoration: none;

    list-style: none;

    font-size: 1.6rem;
    color: var(--brand-red);
  }

  header a {
    height: 100%;
    align-items: center;
  }

  header li {
    height: 7.6rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
  }

  header li:hover {
    border-bottom: 2px solid var(--brand-red);
  }

  header {
    border-bottom: 1px solid var(--brand-red);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }

  nav {
    justify-content: space-between;
    padding-inline: 2rem;
    height: 7.6rem;
    align-items: center;
  }

  ul {
    gap: 3.2rem;
  }

  nav button {
    background-color: transparent;
    color: var(--brand-red);
    padding: 1rem;
    border: 1px solid var(--brand-red);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
  }

  nav button:hover {
    background-color: var(--brand-red);
    color: white;
    padding: 1rem;
    border: 1px solid var(--brand-red);
  }

  span {
    color: var(--brand-red);
  }

  section {
    text-align: center;
    padding-top: 18rem;
  }

  section p {
    margin-top: 1.8rem;
    margin-bottom: 5.8rem;
  }

  section a {
    color: var(--brand-red);
    text-decoration: none;
  }

  section a:hover {
    text-decoration: underline;
  }

  section li {
    list-style: none;
  }

  /* HOME ============================================== */

  .home {
    margin-top: 19rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 0;
  }

  .home .text-area h1 {
    margin-bottom: 1rem;
  }

  .home .welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home .text-area p {
    margin-bottom: 0;
  }

  .home .text-area {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .home img {
    width: 55rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 0px var(--brand-red);
    transition: 0.3s;
  }
  .home img:hover {
    border-radius: 2rem;
    box-shadow: 10px 10px 0px var(--brand-red);
  }

  .home .hashtag {
    margin-top: 8rem;
    font-size: 9rem;
    font-weight: 600;
    color: var(--brand-red);
    opacity: 0.3;
    user-select: none;
  }

  /* ABOUT ============================================== */

  .selected-candidates {
    display: flex;
    background-color: var(--brand-red-lighter);
    width: 50%;
    margin: 0 auto;
    margin-top: 3.7rem;
    padding: 2.7rem 10.4rem;
    border: 1px solid var(--brand-red);
    justify-content: space-between;
    border-radius: 2rem;
  }

  body.dark-mode .selected-candidates {
    background-color: transparent;
  }

  .selected-candidates h3 {
    font-size: 4.8rem;
  }

  .selected-candidates p {
    margin: 0;
    font-size: 1.6rem;
  }

  /* PARTICIPANTS ============================================== */

  .participants-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }

  .participant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    width: 18rem;
  }

  .participant:hover {
    text-decoration: none;
  }

  .participant .participant-name {
    color: var(--gray-paragraph);
    margin: 0;
    margin-top: 1.8rem;
    transition: 0.3s;
  }

  .participant:hover .participant-name {
    color: var(--brand-red);
  }

  .participant-avatar {
    width: 12.6rem;
    border-radius: 50%;
    transition: 0.2s;
    border: 2px solid transparent;
  }

  .participant:hover .participant-avatar {
    transition: 0.2s;
    border: 2px solid var(--brand-red);
    filter: drop-shadow(0px 0px 10px var(--brand-red));
  }

  /* EXTRAS  ============================================== */

  .extras-boxes {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  .extras-img {
    width: 50%;
    border-radius: 1.8rem;
    margin-block: 2rem;
  }

  .extras-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(237, 46, 92, 0.1);
    border-radius: 1.8rem;
    padding-inline: 3rem;
    border: 2px solid transparent;
  }

  body.dark-mode .extras-item {
    border: 2px solid var(--brand-red);
  }

  .text-box {
    display: flex;
    justify-content: center;
    width: 50rem;
    gap: 1.8rem;
    flex-direction: column;
  }

  .extras p {
    margin: 0;
  }

  /* FOOTER ============================================== */

  .footer {
    background-color: var(--brand-red);
    margin: 0;
    margin-top: 18rem;
    padding: 2.5rem;
    border-top: 2px solid var(--brand-red);
  }

  body.dark-mode .footer {
    background: rgba(237, 46, 92, 0.5);
  }

  .footer-logo {
    margin-bottom: 3.4rem;
  }

  .footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }

  .footer li a:hover {
    text-decoration: underline;
  }

  .footer a,
  .footer p {
    color: white;
    font-size: 1.6rem;
  }

  .footer p {
    margin: 0;
  }
}

/* @media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
  ...;
}

@media only screen and (min-width: 768px) {
  ...;
} */
